@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Six+Caps&display=swap');
@import url('https://css.gg/instagram.css');

body{
     font-family: 'Roboto', sans-serif;
     background-color: #181818;
     color: #fff;
     overflow: hidden;
     transition: background-color 1s;
}
*{
     cursor: none;
     scroll-behavior: smooth;
}
li{
     list-style-type: none;
}
.textCaps{
     font-family: six caps;
}
#cursor{
     /* position: relative; */
     /* top:-50px; */
     z-index: +1;
}

#cursor .head{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: rgba(127, 255, 212, 0.24);
     z-index: +1;
}
#cursor .tail{
}

#cursor .tail div{
     border-radius: 50%;
     background-color: rgba(127, 255, 212, 0.336);
     z-index: -2;
}

.textCaps{
     font-family: 'Six Caps', sans-serif;
}

.brandName{
     font-size: 2.8em;
     text-align: center;
     position: fixed;
     left: 50%;
     transform: translateX(-50%);

}
.brandName .typo span:first-child{
     font-size: 0.7em;
     font-weight: 300;
     letter-spacing: 0.05em;
}
.navBox{
     position: fixed;
     top:50%;
     left: 0px;
     transform: translateY(-50%);
     display: flex;
     justify-content: center;
     align-items: center;
     /* background-color: #181818; */
     height: 75px;
     width: 75px;
     border-top-right-radius: 50%;
     border-bottom-right-radius: 50%;
     box-shadow: 0px 0px 5px 2px rgb(14, 13, 13) ;
}
.navBox:hover{
     box-shadow: 0px 0px 5px 4px rgb(14, 13, 13) ;
}
.navBox:hover .line{
     background-color: rgb(49, 170, 119);
}

.navIcon .line{
     background-color: #fff;
     border-radius: 12px;
     height: 6px;
     margin: 5px;
     position: relative;
     left: -4px;
}
.navIcon .line1{
     width: 20px;
}
.navIcon .line2{
     width: 32px;
}

.display{
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
}
.content{
     height: 300px;
     width: 500px;
     box-sizing: border-box;
     margin: auto;
     box-shadow: 0 0 3px 2px #20202000;
     transition: box-shadow 0.1s;
     border-radius: 30px;
     overflow-y: hidden;
}
.content>div{
     display: flex;
     flex-direction: column;
     justify-content: center;
     box-sizing: border-box;
     height: 300px;
}
::-webkit-scrollbar-track{
     background: #161616;
     display: none;
}
::-webkit-scrollbar{
     width: 5px;
}
::-webkit-scrollbar-thumb{
     background-color: #1d1d1d;
     height: 5px;
     border-radius: 10px;
     display: none;
}
.profile{
     font-family: monospace;
     hyphens: auto;
     text-align: justify;
     box-sizing: border-box;
     font-size: 1.2em;
     width:280px;
     margin: 0 auto;
}
.profile div:first-of-type{
     font-size: 2em;
     letter-spacing: 0.1em;

}
.intro{
     font-family: monospace;
     font-size: 2.2em;
     font-weight: 400;
     text-align: center;
     white-space: nowrap;
     letter-spacing: 0.1em;
}

.intro .name{
     animation: typing 1.5s 0.3s steps(10) forwards;
     width: 0ch;
     overflow: hidden;
     font-family: six caps;
     border-right: #fff 1px solid;
     margin-bottom: 10px;
     margin: 0 auto;
}

.intro .profession{
     font-size: 0.5em;
     width: 0ch;
     animation: typing 1.5s 1.8s steps(13) forwards;
     overflow: hidden;
     margin: 0 auto;
}
.display .nav{
     width: 500px;
     font-family: monospace;
}
.display .nav ul{     
     margin: auto;
     padding: 0;
     position: relative;
}
.nav ul li {
     margin: 10px auto;
     /* border: 1px solid #555; */
     line-height: 30px;
}
.nav ul>li:hover{
     color: aquamarine;
}
.nav ul li *{
     margin: auto 8px;
}
.nav li:hover .msg{
     color: #7fffd4;
}
.nav li .msg:hover{
     color: #7fffd400;
}
.nav .msg{
     position: absolute;
     top:-50px;
     left: 0px;
     width: 150px;
     margin: auto;
     color: #7fffd400;
}
.mouseScroll{
     text-align: center;
     margin-top: 20px;
}
.mouseScroll .mouse{
     margin: auto;
     width: 30px;
     height: 45px;
     border: solid 1px #333;
     box-shadow: 0px 0px 5px 0.5px #333;
     border-radius: 25px;
     opacity: 0;
     animation: mouse 0.1s 3.3s forwards;
}
.mouseScroll .track{
     background-color: #333;
     height: 7px;
     width: 7px;
     border-radius: 50%;
     margin: auto;
     position: relative;
     top:8px;
     opacity: 0;
     animation: track 1.5s 0.3s infinite;
}

.social {
     display: flex;
     flex-direction: column;
     position: fixed;
     right: 45px;
     top: 50%;
     transform: translateY(-50%);
}
.social div{
     margin: 6px auto;
     font-size: 1.25em;
}
.social div i{
     transform: scale(1);
     transition: transform 0.1s;
}
.social div i:hover{
     transform: scale(1.2);
}
#music{
     display: none;
     position: absolute;
}
.player{
     position: fixed;
     bottom: 20px;
     left: 50%;
     transform: translateX(-50%);
}

.disc{
     border: px solid #fff;
     border-radius: 50%;
     height: 60px;
     width: 60px;
     box-shadow: 0px 0px 2px 1px rgb(43, 43, 43);
     position: relative;
}
.disc .play{
     font-size: 1.6em;
     text-align: center;
     line-height: 60px;
}
.disc:hover{
     background-color: rgba(51, 51, 51, 0.705);
}

.disc .ripple{
     /* border: 1px solid #338 */
     box-shadow: 0px 0px 5px 0.5px #333;
     border-radius: 50%;
     position: absolute;
     top:50%;
     left: 50%;
     transform:translate(-50%,-50%);
     z-index: -2;
}
.ripple{
     animation-name: ripple;
     animation-iteration-count: infinite;
     animation-duration: 2s;
}
.ripple1{
     animation-delay:  0s;
}
.ripple2{
     animation-delay: 0.5s;
}
.ripple3{
     animation-delay: 1s;
}

@keyframes ripple{
     0%{
          width: 70px;
          height: 70px;
          opacity: 1;
     }
     100%{
          width: 90px;
          height: 90px;
          opacity: 0;
     }
}

@keyframes typing {
     0% { 
          width: 0; 
          border-right: #fff 1px solid;
     }
     99%{border-right:  #fff 1px solid;}
     100% { 
          width: 18ch ;
          border-right: none;
     }
}
 
@keyframes mouse{
     from {opacity: 0;}
     to {opacity: 1;}
}
@keyframes track{
     0%{opacity: 1;top: 8px}
     85%{opacity: 1;top: 16px}
     100%{ opacity: 0; top: 18px}
}
